/* Poppins font-face declarations */
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins-font/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins-font/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins-font/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins-font/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins-font/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins-font/Poppins-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* Oswald font-face declarations */
@font-face {
    font-family: 'Oswald';
    src: url('./fonts/oswald-font/Oswald-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/oswald-font/Oswald-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/oswald-font/Oswald-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/oswald-font/Oswald-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Lato font-face declarations */
@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-font/Lato-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-font/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-font/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-font/Lato-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-font/Lato-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-font/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Raleway font-face declarations */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-font/Raleway-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Define color variables in the :root selector */
:root {
    --primary-color: #02568f;
    --secondary-color: #020804;
    --text-color: #002848;
    /* Dark Gray */
    --heading-color: #121212;
    --button-color: #004b91;
    --btnHover-color: #00559A;
    --background-color: #f4f4f4;
    /* Light Gray */
}

.test {
    font-size: 50px;
    color: var(--secondary-color);
}

.maxContainer {
    width: 100%;
    max-width: 1215px;
    padding-inline: 20px;
    margin-inline: auto;
}

.textStyle {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
}

.mt-5 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 20px;
}

.px-5 {
    padding-inline: 20px;
}

.my-2 {
    margin-block: 8px;
}

.mt-10 {
    margin-top: 40px;
}

body {
    /* background-color: #f0f0f0; */
    background-color: #00000026;
    font-family: 'Raleway', sans-serif;
}

.border-none {
    border-radius: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #58565f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.horizantalLine {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: auto;
}

.headingTwo {
    font-size: 28px;
    font-weight: 700;
    color: #121212;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    position: relative;
}


.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.m-0 {
    margin: 0;
}

/* mainslider */
/* style.css */
#carouselIndicators {
    overflow: hidden;
}


.carousel-indicators li {
    background-color: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #ff7300;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ColorLayer {
    position: relative;
    z-index: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
    z-index: 0;
}

.carousel-caption {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subpara {
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    color: #fff;
}

.carousel-caption h5 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    animation: fadeInScale 4s ease forwards;
    line-height: 45px
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.4);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.carousel-caption span {
    color: #ff7300;
}

.carousel-caption p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px;
}

/* Media Query */
@media (min-width: 768px) {
    .carousel-inner {
        height: 60vh;
    }
}

@media (min-width: 992px) {
    .carousel-inner {
        height: 70vh;
    }
}

@media (min-width: 1200px) {
    .carousel-inner {
        height: 85vh;
    }
}
.margin-block{
    margin-block: 60px
}
/* mainSliderEnd */

.tourPackageCardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tourPackageCard {
    width: 100%;
    max-width: 277.5px;
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    overflow: hidden;
    border-radius: 0px;
    transition: .3s ease;
}

.tourPackageCard:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardImage {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-bottom: 2px dashed #00dd37;
    transition: 0.4s ease;
}

.tourPackageCard .cardImage:hover {
    border-bottom: 2px solid #002966;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.tourPackageCard img:hover {
    transform: scale(1.1);
}

.cardContents {
    padding: 20px 15px;
}

.cardContents a {
    text-decoration: none;
}

.cardContents a h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    transition: 0.4s ease;
    position: relative;
    word-break: break-all;
}
@media (max-width: 600px){
    .cardContents a h2 {
        word-break: unset !important;
    }
    .textStyle{
        word-break: unset !important;
    }
    .serviceCard p{
        word-break: unset !important;
    }
}

.tourPackageCard:hover h2 {
    color: #f85a10;
}

.cardLine {
    margin-block: 12px;
}

.cardBookNowBtn {
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 14px;
    color: var(--text-color);
    background-color: #f85a10;
    border: 0px;
    margin-inline: auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    line-height: 18px;
    transition: .3s ease;
}

.cardBookNowBtn:hover {
    background-color: rgb(233, 57, 3);
}

.textStyle a {
    font-size: 15px;
}

/* vehiclesCSS */
.vehicles_padding_top{
    padding-top: 40px ;
}
.vehiclesHeading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: #000;
    transition: 0.4s ease;
    position: relative;
}

.tourPackageCard:hover .vehiclesHeading {
    color: var(--button-color);
}

.vehicalContaooner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* testimonial */

.overflow-hidden {
    overflow: hidden;
}

.overflow-hidden {
    overflow: auto;
}

.owl-item {
    justify-content: center;
    display: flex;
}


.borderNone {
    border-radius: 0px !important;
}

.whyChooseUs {
    padding-top: 75px;
}

.whyChooseHeading {
    font-size: 24px;
    font-weight: 600;
}
.serviceCard{
    width: 277px;
    height: 210px;
    padding: 14px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 555;
    margin-bottom: 20px;
    transition: .4s linear;
}

.serviceCard h3{
    font-size: 15px;
    font-weight: 700;
    color: #f85a10;
    margin-bottom: 4px;
    margin-bottom: 12px;
}
.serviceCard p{
    line-height: 18px;
    margin-top: 14px;
    word-break: break-all;
    position: relative;
    z-index: 777;
}


/* review */

@media (max-width:767px){
    .PackageDetailsContents h1 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 13px;
    }
}

.PackageDetailsContents h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
/* Gallery */

.galleryContents h1{
    text-align: center;
    font-size: 32px;
    line-height: 27px;
}
.galleryContents p{
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.gallery-item {
    overflow: hidden;
    width: 23%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


.lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 8px;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

/* contact */


.PackageDetailsContents h6{
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
}
@media (max-width:767px){
    .whyChooseUs {
        padding-top: 20px;
    }
    .aboutUsbg h4{
        font-size: 30px;
        font-weight: 600;
    }
    .PackageDetailsContents h6{
        font-size: 15px;
        line-height: 19px;
    }
    .PackageDetailsContents h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 24px;
    }
    .galleryContents h1{
        text-align: center;
        font-size: 24px;
        line-height: 25px;
    }
    .gallery-item {
        overflow: hidden;
        width: 29%;
        height: auto;
    }
 
}
@media (max-width:968px){
    .about-contents-container{
        flex-direction: column;
    }
}